/*--------------COMMON---------------*/
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Helvetica, Arial,sans-serif;
}
.clearfix {
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
img, span {
  margin: 0px;
  padding: 0px;
}

.nopadding {
  padding: 0 !important;
}
/* end--------------COMMON---------------*/

/*---------MODAL-----------------*/
#search-grid{
  display: block;
  overflow-y: auto;
  overflow-x: auto;
}

#search-grid .grid{
  background-color: #fbfbf8;
}
.modal-fluid {
  width: 100% ;
  margin: 0;
  min-width: 1020px;
}

/*---------MODAL Header-----------------*/
#search-grid .modal-header {
  background-color: #1677cb;
  height: 50px;
  color: #fff;
  padding: 10px 15px ;
}
#search-grid .modal-header .close {
  color: #fff;
}
#search-grid .modal-header .title h4 {
  margin-top: 4px;
}
/*end ---------MODAL Header-----------------*/


/*---------MODAL body-----------------*/
#search-grid .modal-body{
  overflow: hidden;
  padding: 10px;
}
.grid-full-height {
  height: calc(100% - 135px);
}


/*filter row*/
.filter-place {
  float: left;
  margin: 10px 0 3px 0px;
  width: 100%;
}
.filter-item {
  margin-right: 3px;
}
.filter-input {
  border-radius: 0;
  text-align: left;
  height: 28px;
  padding: 0 12px;
}
.multiple-filter-select .btn-group {
  width: 100%;
}

.multiple-filter-select button {
  border-radius: 0;
  text-align: left;
  padding: 3px 10px;
  height: 28px;
  width: 100%;
}

.dropdown-menu{
  margin-bottom:30px;
  padding-left:5px;
  padding-right:5px;
}
.dropdown-menu li > a {
  clear: both;
  color: #333;
  display: block;
  font-weight: 400;
  line-height: 1.42857;
  white-space: nowrap;
  padding:3px 10px;
  cursor:pointer;
}
.dropdown-menu li > a i{
  padding:3px;
}

.opened {
  display: block;
}
.closed{
  display: none;
}

.staff-grid-header-responsive {
  float: left;
  width: 100%;
}
/*end filter row*/

/*sort*/
.grid-header {
  background-color: #e9ebec;
}
.grid-header-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.grid-col-header {
  padding: 9px 0 9px 5px;
  margin-right: 3px;
  cursor: pointer;
}
.grid-sort-ico {
  width: 12px;
  height: 7px;

  background-image: url("../images/sprite.png");
  background-position:  -122px -40px;
  background-position-x:  -122px;
  background-position-y:  -40px;

  position: absolute;
  right: 5px;
  top: 15px;
}
.rotate-180 {
  background-image: url("../images/sprite.png");
  background-position: -122px -30px;
}
/*end sort*/

/*grid row*/
.staff-table{
  position: relative;
  margin-bottom: 0px;
  margin-right: 0px;
  max-height: 100%;
  height: 335px;
}

.grid-cell, .grid-row, .grid-cell .grid-helper {
  min-height: 55px;
}
.grid-row {
  border-bottom: 1px solid #e8eaec;
}
.grid-row-responsive {
  float: left;
  width: 100%;
}
.grid-col-item {
  margin-top: 16px;
  display: inline-block;
  overflow: hidden;
  word-break: break-all;
}
.grid-staff-name {
  padding: 0 0 0 15px;
  font-size: 16px;
}
/*end grid row*/

/*end---------MODAL body-----------------*/

/*---------MODAL footer-----------------*/
#search-grid .modal-footer {
  background-color: #f6f6f6;
  height: 55px;
  padding: 7px 20px 0px 0px;
}


#search-grid .modal-footer button {
  margin-left: 10px;
}

#search-grid .button-close {
  height: 40px;
  min-width: 80px;
}
.btn-blue:hover {
  color: #fff;
  background-color: #2D84D0;
}

.btn-blue {
  background-color: #1677ca;
  color: #fff;
  border: 0;
  border-radius: 25px;
}
/*end---------MODAL footer-----------------*/
/*end ---------MODAL-----------------*/





/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}
.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.scroll-element {
  display: none;
}
.scroll-element, .scroll-element div {
  box-sizing: content-box;
}
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default;
}
.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/*************** SIMPLE INNER SCROLLBAR ***************/

.scroll-element,
.scroll-element div
{
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}
.scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%;
}
.scroll-element.scroll-y {
  height: 99%;
  right: 3px;
  top: 1px;
  width: 8px;
}
.scroll-element .scroll-element_outer {
  overflow: hidden;
}
.scroll-element .scroll-element_outer,
.scroll-element .scroll-element_track,
.scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.scroll-element .scroll-element_track,
.scroll-element .scroll-bar {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
}
.scroll-element .scroll-element_track { background-color: #e0e0e0; }
.scroll-element .scroll-bar { background-color: #c2c2c2; }
.scroll-element:hover .scroll-bar { background-color: #919191; }
.scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }

/* update scrollbar offset if both scrolls are visible */
.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }
